/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  font-size: 14px;
  line-height: 1.5rem;
}

.container {
  margin: auto 10%;
  padding-top: 1rem;
}
